<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="jquery-2.1.4.js"></script>
    <script src="jquery.validate.js"></script>
    <script src="additional-methods.js"></script>
    <script src="angular.js"></script>
    <script src="validacao.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app='carrosAngulares' ng-controller="GeralController as geral">
  	<nav class="navbar navbar-default" >
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">CARROS ANGULARES</a>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#" ng-click='geral.clickBusca()'>Busca</a></li>
	        <li><a href="#" ng-click='geral.clickCadastro()'>Adicionar Carro</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="panel panel-primary" ng-show='geral.mostrarBusca'>
		  <div class="panel-heading" >
		    <h3 class="panel-title">Busca</h3>
		  </div>
		  <div class="panel-body">
			  <form role="form" id="formBusca" novalidate ng-controller="FiltroController as filtro" ng-submit="filtro.sendPost()">
			    <div class="form-group">
			      <label for="tipo" class="col-lg-2 control-label">Tipo</label>
			      <div class="col-lg-10">
			        <div class="checkbox">
			          <label>
			            <input type="checkbox" name="1" checked="" ng-model="filtro.tipo"> Novo
			          </label>
			        </div>
			        <div class="checkbox">
			          <label>
			            <input type="checkbox" name="2" checked="" ng-model="filtro.tipo"> Usado
			          </label>
			        </div>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="col-lg-2 control-label">Categoria</label>
			      <div class="col-lg-10">
			        <div class="radio">
			          <label>
			            <input type="radio" name="categoria" id="categoria" value="1" ng-model="filtro.categoria" checked="">
			            Carro
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="categoria" id="categoria" value="2" ng-model="filtro.categoria">
			            Moto
			          </label>
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="categoria" id="catCaminhao" value="3" ng-model="filtro.categoria">
			            Caminhão
			          </label>
			        </div>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="marca" class="col-lg-2 control-label">Marca</label>
			      <div class="col-lg-10" ng-controller="MarcasController as marcas">
			        <select class="form-control" id="marca" name="marca">
			          <option ng-repeat="marca in marcas.marcas" value="{{marca.id}}">{{marca.descricao}}</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="palavraChave" class="col-lg-2 control-label">Palavra Chave</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" ng-model="filtro.palavraChave" id="palavraChave" name="palavraChave" placeholder="Digite uma palavra chave">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="anoDe" class="col-lg-2 control-label">Ano De</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="anoDe" ng-model="filtro.anoDe" name="anoDe" placeholder="Digite o ano mínimo">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="anoAte" class="col-lg-2 control-label">Ano Até</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="anoAte" name="anoAte" ng-model="filtro.anoAte" placeholder="Digite o ano máximo">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="precoDe" class="col-lg-2 control-label">Preço De</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="precoDe" name="precoDe" ng-model="filtro.precoDe" placeholder="Digite o preço mínimo">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="precoAte" class="col-lg-2 control-label">Preço Até</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="anoAte" name="anoAte" ng-model="filtro.precoAte" placeholder="Digite o preço máximo">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <input type="reset" class="btn btn-default espaco-botao"/>
			        <input type="submit" class="btn btn-primary espaco-botao"/>
			      </div>
			    </div>
			</form>
		  </div>
		</div>
		<div ng-controller="CarrosController as carrosCtrl">
			<div ng-repeat="carro in carrosCtrl.carros">
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">{{carro.modelo + " " + carro.ano}}</h3>
				  </div>
				  <div class="panel-body">
				    <img src="carro.jpg" class="imagem">
				    Categoria : {{carro.categoria}}</br>
				    Marca : {{carro.marca}}</br>
				    Tipo : {{carro.tipo}}</br>
				    Modelo : {{carro.modelo}}</br>
				    Ano : {{carro.ano}}</br>
				    Preço : {{"R$" + carro.preco}}</br>
				    Proprietário : {{carro.proprietario}}</br>
				    Placa : {{carro.placa}}</br>
				    Cor : {{carro.cor}}</br>
				    Data Aquisição : {{carro.dataAquisicao}}</br>
				    Obs : {{carro.obs}}
				  </div>
				</div>
			</div>
		</div>
		<div class="panel panel-success" ng-show='geral.mostrarCadastro' ng-controller="NovoCarroController as novo">
		  <div class="panel-heading">
		    <h3 class="panel-title">Cadastro Carro</h3>
		  </div>
		  <div class="panel-body" >
		    <form role="form" name="formCarro" id="formCarro" ng-submit='novo.sendPost()'>
		    	<div class="form-group">
			      <label class="col-lg-2 control-label">Tipo</label>
			      <div class="col-lg-10">
			        <div class="radio">
			          <label>
			            <input type="radio" name="tipo" id="tipoNovo" value="1" checked="" ng-model="novoCarro.tipo"/>
			            Novo
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="tipo" id="tipoUsado" value="2" ng-model="novoCarro.tipo"/>
			            Usado
			          </label>
			        </div>
			      </div>
			    </div>
		    	<div class="form-group">
			      <label class="col-lg-2 control-label">Categoria</label>
			      <div class="col-lg-10">
			        <div class="radio">
			          <label>
			            <input type="radio" name="categoria" id="catCarro" value="1" checked="" ng-model="novoCarro.categoria">
			            Carro
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="categoria" id="catMoto" value="2" ng-model="novoCarro.categoria">
			            Moto
			          </label>
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="categoria" id="catCaminhao" value="3" ng-model="novoCarro.categoria">
			            Caminhão
			          </label>
			        </div>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="marca" class="col-lg-2 control-label">Marca</label>
			      <div class="col-lg-10" ng-controller="MarcasController as marcas">
			        <select class="form-control" id="marca" name="marca">
			          <option ng-repeat="marca in marcas.marcas" value="{{marca.id}}" ng-model="marca.novoCarro.marca">{{marca.descricao}}</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="modelo" class="col-lg-2 control-label">Modelo</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Digite o modelo do carro" ng-model="novoCarro.modelo">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="ano" class="col-lg-2 control-label">Ano</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="ano" name="ano" placeholder="Digite o ano do carro" ng-model="novoCarro.ano">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="preco" class="col-lg-2 control-label">Preço</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="preco" name="preco" placeholder="Digite o preço do carro" ng-model="novoCarro.preco">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="proprietario" class="col-lg-2 control-label">Proprietário</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="proprietario" name="proprietario" placeholder="Digite o proprietário do carro" ng-model="novoCarro.proprietario">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="placa" class="col-lg-2 control-label">Placa</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="placa" name="placa" placeholder="Digite a placa do carro" ng-model="novoCarro.placa">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="cor" class="col-lg-2 control-label">Cor</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="cor" name="cor" placeholder="Digite a cor do carro" ng-model="novoCarro.cor">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="dataAquisicao" class="col-lg-2 control-label">Data de Aquisição</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="dataAquisicao" name="dataAquisicao" placeholder="Digite a data de aquisição carro"ng-model="novoCarro.dataAquisicao">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="observacoes" class="col-lg-2 control-label">Observações</label>
			      <div class="col-lg-10">
			        <textarea class="form-control" rows="3" id="observacoes" name="observacoes" ng-model="novoCarro.obs"></textarea>
			        <span class="help-block">Descreva as observações sobre o carro</span>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="upload" class="col-lg-2 control-label">Upload de foto</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="upload" name="upload" placeholder="upload de foto no futuro se der tempo">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <input type="reset" class="btn btn-default espaco-botao"/>
			        <input type="submit" class="btn btn-primary espaco-botao"/>
			      </div>
			    </div>
			    <div>
			    	{{novoCarro}}
			    </div>
		    </form>
		  </div>
		</div>
	</div>
  </body>
</html>
